## EXAMPLE CONFIG ##


### MAIN CONFIG OPTIONS ###
[main]
daemonize=1
user=nobody
group=nobody


### CHECKS ###

# Define services you want to check here
# run monsta --help check to get a list of supported check types

[Check_mywebserver]
type=portconnect
host=example.com
port=80


### NOTIFICATIONS (ALERTS) ###

# Define notifications here
#run monsta --help notification to get a list of supported notification types


[Notification_bob]
type=smtp 
host=smtp.gmail.com 
port=587 
username=yourname@gmail.com
password=yourpassword
starttls=yes 
recipient=bob@example.net
sender=yourname@gmail.com


### TESTS ###

[Test_mywebserver]

#what checks to we run in this test
checks=mywebserver

#how often do we run this test [seconds]
interval=10 

#does the test require all checks to be successfull or does it only require one?
#only allowed values are 'all' and 'any'
requires=all

#if the test failed twice in a row, notify bob
notify=2:bob

